{% extends "layoutm.html" %}
{% block body %}

<style>
    @keyframes anim {
      0% {
        transform: scaleY(0);
      }
      100% {
        transform: scaleY(1);
      }
    }
    tr {
      background: #eee;
      border-bottom: 1px solid #ddd;
      display: none;
      transform-origin: top;
    }
    tr.active {
      display: table-row;
    }
    
        </style>

<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Trolley Items</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-12">
              <div class="input-group">
                
                <input type="hidden" id="trolley_id" name="trolley_id" placeholder="" class="form-control">
                
              </div>
            </div>
          </div>
          
          
        </form>
      </div>

      <div class="row">
          <div class="container">
            <div class="col-lg-8">
                <table class="table table-bordered  order-list">
                        <thead>
                        <tr class="active row">
                            <th style="width: 55%">Product Name </th>
                            <th style="width: 15%">Price</th>
                            <th style="width: 10%">Quantity</th>
                            <th style="width: 15%">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        
                        </tbody>
                    </table>
            </div>
          
         
            <div class="col-lg-4">
               
                    <h2 style="text-align: center; height:30%; padding-top:2%;padding-bottom:2%; margin-bottom:1%;" class="badge-primary">TOTAL</h2>
                    <h2 id="total_amount" style="text-align: center; height:30%; padding-top:2%;padding-bottom:2%; margin-bottom:2%;" class="badge-info" >0</h2>

            </div>
        </div>
        </div>
     


      
    </div>
  </div>

  <script type="text/javascript">
    jQuery(document).ready(function () {
        function get_items(id){
            
            $.get("{{ root_url }}trolley_items/get/"+id, function(data, status){
                var s = JSON.parse(data);
                console.log(s);
                row_add(s.items)
                console.log(s.items);
            });
        }


        function costCalculator(){
    var sum = 0;
    $('.order-list tr:gt(0)').each(function(){
     var x= $('td:eq(3)', $(this)).html();
     sum += parseInt(x);   
    });

    $("#total_amount").html(sum);
    // alert(sum);
}


        function row_add(items){
            $("table.order-list tbody").remove();
            for(i=0;i<items.length;i++){
                var newRow = $("<tr class= 'active'>");
                var cols = "";
                cols += '<td>'+items[i].pname+'</td>';
                cols += '<td>'+items[i].price+'</td>';
                cols += '<td>'+items[i].quantity+'</td>';
                cols += '<td>'+items[i].price * items[i].quantity +'</td>';
                newRow.append(cols);
                
                $("table.order-list").append(newRow);
                costCalculator()
            }
            //costCalculator();

        }

        window.setInterval(function() {
            // sss = $("#trolley_id").val();
            // if(sss !== ""){
                get_items(123);
                
            // }
        }, 2000);

    });

  </script>

{% endblock %}